html, body{
    background-image: url("../negative-space-colorful-bokeh-abstract-18.jpg");
    height: 100%;
}

.container{
    border: 1mm;
    border-style: solid;
    background: blue;
    position: relative;
    overflow: scroll;
    top: 5%;
    height: 85%;
    width:90%;
    left: 5%;
    scrollbar-color: #d4aa70 #e4e4e4;
}

.card{
    border: 1mm;
    border-style: solid;
    height: 80%;
    background-color: #fff;
    display:grid;
    grid-template-columns: repeat(auto-fill, 265px);
    gap: 15px;
}

.container::-webkit-scrollbar {
  width: 16px;
}

.container::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}